#darkmode {
  position: fixed;
  right: 20px;
  top: calc(100vh / 4);
  cursor: pointer;
  z-index: 99;
  border: none;
  background-color: transparent;

  span {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ffffff;
    font-size: 30px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotateSwitcher 5s infinite linear;

    .moon_svgicon {
      position: absolute;
      top: 19%;
      left: 20%;
      visibility: hidden;
      opacity: 0;
      transform: translateY(100%);
      transition: 0.3s ease-in-out;
    }
    .sun_svgicon {
      transform: translateY(0%);
      position: absolute;
      top: 19%;
      left: 20%;
      visibility: visible;
      opacity: 1;
      transition: 0.3s ease-in-out;
    }

    @keyframes rotateSwitcher {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(0.85);
      }

      100% {
        transform: scale(1);
      }
    }
  }
}
