@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;500;600&family=BioRhyme+Expanded:wght@200;300;400;700;800&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&family=Cinzel+Decorative:wght@400;700;900&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Eagle+Lake&family=Elsie+Swash+Caps:wght@400;900&family=IM+Fell+French+Canon+SC&family=Imbue:opsz,wght@10..100,100;10..100,200;10..100,300;10..100,400;10..100,500;10..100,600;10..100,700;10..100,800;10..100,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,900&family=Limelight&family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;0,7..72,800;0,7..72,900;1,7..72,300;1,7..72,400;1,7..72,500;1,7..72,600;1,7..72,700;1,7..72,800;1,7..72,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Michroma&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,600;1,6..72,700&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,700;1,900&family=Ultra&family=Yeseva+One&display=swap");
@import "./Scss/variable";
@import "./Scss/mixin";

html,
body {
  overflow-x: hidden;
  // scroll-behavior: smooth
}

body {
  margin: 0;
  font-family: $second_font !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // color: $text_color_dark1 !important;
  a {
    text-decoration: none;
    color: $text_color_dark1;
  }
}

body.light {
  background: $text_white;
  color: $text_color_dark1;
  transition: 0.3s ease-in-out;

  .nav_scroll {
    background-color: $back_color1;
  }
}

body.dark {
  background: $text_color_dark2 !important;
  color: $text_white;
  transition: 0.3s ease-in-out;

  a {
    color: $text_white;
  }

  .transparent_nav {
    .logo_black {
      img {
        filter: brightness(0) invert(1);
      }
    }

    .col_adapter {
      .main_nav_list {
        .main_nav_heading {
          &:hover {
            .link_holder {
              span {
                color: $text_color_grey2;

                a {
                  color: $text_color_grey2;
                }
              }

              svg {
                color: $text_color_grey2;
              }
            }
          }

          .link_holder {
            span {
              font-weight: 500;
              color: $text_white;

              a {
                color: $text_white;
              }
            }
          }

          .rest_menu {
            background-color: $back_border_dark1;

            .rest_pages {
              &:hover {
                span {
                  color: $text_color_grey2;

                  a {
                    color: $text_color_grey2;
                  }
                }
              }

              span {
                color: $text_white;

                a {
                  color: $text_white;
                }
              }

              .third_level_head {
                svg {
                  color: $text_color_grey2;
                }
              }

              .third_lvl_menu {
                background-color: $back_border_dark1;

                .rest_pages1 {
                  &:hover {
                    span {
                      color: $text_color_grey2;
                      a {
                        color: $text_color_grey2;
                      }
                    }
                  }
                  span {
                    color: $text_white;

                    a {
                      color: $text_white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .right_nav {
      svg {
        color: $text_color_grey3;
      }
    }

    .information_window {
      background-color: $back_border_dark1;

      .close_field {
        svg {
          color: $text_color_grey3;
        }
      }

      .logo_field {
        .info_logo {
          img {
            filter: brightness(0) invert(1);
          }
        }
      }

      p {
        color: $text_color_grey3;
      }

      h5 {
        color: $text_white;
      }
    }

    .mobile_nav_menu {
      background-color: $text_color_dark2;

      .menu_head {
        .big_logo {
          img {
            filter: brightness(0) invert(1);
          }
        }
      }

      .menu_pannel {
        .mobile_list {
          .mobile_li {
            &:hover {
              .link_place {
                color: $text_color_grey2;
                a {
                  color: $text_color_grey2;
                }
              }
            }
            .link_place {
              border-bottom-color: $border_bottom_color;
              color: $text_white;
              a {
                color: $text_white;
                transition: 0.3s ease-in-out;
              }
            }
          }
        }

        .mobile_lvl2 {
          .mobile_lvl2_head {
            border-bottom: 1px solid $border_bottom_color;
            background-color: $back_btn_color;
          }

          .mobile_li2 {
            border-bottom-color: $border_bottom_color;
            &:hover {
              .link_place {
                color: $text_color_grey2;
                a {
                  color: $text_color_grey2;
                }
              }
            }
            .link_span {
              background-color: $back_btn_color;
            }
            .link_place {
              color: $text_white;
              transition: 0.3s ease-in-out;
              a {
                transition: 0.3s ease-in-out;
                color: $text_white;
              }
            }
          }
        }
      }
    }
  }

  footer {
    background-color: $back_border_dark1;

    .lines_footer_back {
      .animated_line {
        background-color: $back_border_dark;
      }
    }
  }

  .topbtn {
    color: $text_color_grey2;
  }

  .first_section {
    background-color: $text_color_dark1;

    .section_under {
      .col_adaptation {
        border-right-color: $back_border_dark;
      }

      .brdr_left {
        border-left-color: $back_border_dark;
      }
    }

    .white_separator {
      background-color: $text_color_dark2;
    }
  }

  .second_section {
    .col_box {
      h6 {
        color: $text_color_grey2;
      }

      .dark_logo {
        display: block;
      }

      .light_logo {
        display: none;
      }

      h4 {
        a {
          color: $text_white;
          transition: 0.3s ease-in-out;

          &:hover {
            color: $text_color_grey2;
          }
        }
      }

      p {
        color: $text_color_grey3;
      }

      .arrow_details {
        .arrow1 {
          background-color: $back_border_light;

          &::before {
            background-color: $back_border_light;
          }

          &::after {
            background-color: $back_border_light;
          }
        }
      }
    }
  }

  .third_section {
    .big_back_word {
      h2 {
        color: $back_border_dark1;
      }
    }

    .col_adaptor {
      .about_texts {
        h2 {
          color: $text_white;
        }
      }

      .btn_box {
        a {
          &::before {
            border-color: $text_color_dark3;
          }
        }
      }

      .icon_box {
        .box_flex {
          .icon_image {
            border-color: $back_border_dark;
          }

          h6 {
            color: $text_color_grey4;
          }
        }
      }
    }
  }

  .fifth_section {
    background: $text_color_dark2;

    .net_lines {
      .animated_line {
        background-color: $back_border_dark;
      }
    }

    .big_back_word {
      h2 {
        color: $back_border_dark1;
      }
    }
  }

  .sixth_section {
    background: $text_color_dark2;

    .net_lines {
      .animated_line {
        background-color: $back_border_dark;
      }
    }

    .central_texts {
      h2 {
        color: $text_white;
      }
    }

    .isotope_btns {
      border-bottom: 0.0625rem solid $text_color_dark3;

      button {
        color: $text_white;

        &:hover {
          color: $text_color_grey2;
        }

        sup {
          color: $text_white;
        }
      }

      .activefilter {
        color: $text_color_grey2;
      }
    }

    .filter_image {
      .works_info {
        background-color: $text_color_dark2;

        .banner_texts {
          h6 {
            color: $text_color_grey2;

            a {
              color: $text_color_grey2;
            }
          }

          h5 {
            a {
              color: $text_white;

              &:hover {
                color: $text_color_grey2;
              }
            }
          }
        }
      }
    }

    .big_back_word {
      h2 {
        color: $back_border_dark1;
      }
    }
  }

  .seventh_section {
    .net_lines {
      .animated_line {
        background-color: $back_border_dark;
      }
    }
  }

  .eighth_section {
    background: $text_color_dark2;

    .big_back_word {
      h2 {
        color: $back_border_dark1;
      }
    }

    .central_texts {
      h2 {
        color: $text_white;
      }
    }

    .blog_post {
      &:hover {
        .blog_content {
          p {
            color: $text_white;
          }
        }
      }

      .blog_content {
        .dates {
          .post_time {
            color: $text_color_grey2;
          }
        }

        h5 {
          a {
            color: $text_white;
          }
        }

        p {
          color: $text_color_grey3;
        }
      }
    }
  }

  .nineth_section {
    background-color: $back_border_dark1;

    .net_lines {
      .animated_line {
        background-color: $back_border_dark;
      }
    }

    .col_adaptor {
      form {
        input,
        textarea {
          border: none;
          background-color: $text_color_dark1;
          color: $text_color_grey4;

          &:focus {
            background-color: $text_color_dark2;
            color: $text_white;
          }
        }
      }
    }
  }

  .about_main {
    .net_lines {
      .animated_line {
        background-color: $back_border_dark;
      }
    }

    .mission_section {
      .page_heading {
        h6 {
          color: $text_white;
        }

        p {
          color: $text_color_grey3;
        }
      }

      .col4_adapter {
        h3 {
          &::after {
            background: $text_white;
          }
        }
      }
    }

    .service_section {
      .col_box {
        h6 {
          color: $text_color_grey2;
        }

        h4 {
          a {
            color: $text_white;
            transition: 0.3s ease-in-out;

            &:hover {
              color: $text_color_grey2;
            }
          }
        }

        p {
          color: $text_color_grey3;
        }

        .arrow_details {
          .arrow1 {
            background-color: $back_border_light;

            &::before {
              background-color: $back_border_light;
            }

            &::after {
              background-color: $back_border_light;
            }
          }
        }
      }
    }

    .underlined_section {
      background-color: $back_border_dark1;

      p {
        span {
          a {
            color: white;
            transition: 0.5s ease-in-out;

            &:hover {
              color: $text_color_grey2;
            }
          }
        }
      }
    }

    .teamswipe_section {
      .section_heading {
        h1 {
          color: $text_white;
        }
      }

      .swipe_container {
        .swiper_field {
          .swiper-wrapper {
            .swiper-slide {
              .member_card {
                h5 {
                  color: $text_white;

                  a {
                    color: $text_white;
                    transition: 0.5s ease-in-out;
                    &:hover {
                      color: $text_color_grey2;
                    }
                  }
                }
                h6 {
                  color: $text_color_grey2;
                }
              }
            }
          }
        }
      }
    }
    .letsdiscuss_section {
      background-color: $back_border_dark1;

      .col_adaptor {
        form {
          input,
          textarea {
            border: none;
            background-color: $text_color_dark1;
            color: $text_color_grey4;

            &:focus {
              background-color: $text_color_dark2;
              color: $text_white;
            }
          }
        }
      }
    }
  }
}

code {
  font-family: $second_font;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}
