@import "../../Scss/variable";
@import "../../Scss/mixin";

.topbtn {
  position: fixed;
  bottom: 70px;
  right: 1.5625rem;
  z-index: 100;
  width: 55px;
  height: 55px;
  border: 1px solid $text_color_grey2;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text_color_dark2;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    width: 1px;
    height: 30px;
    background-color: $text_color_grey2;
    transition: all 0.5s ease-in-out;
    top: -50px;
  }
}

.topbtn_visible {
  opacity: 1;
  visibility: visible;
  &::before {
    top: -15px;
  }
}
