.fourth_section {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;

  .px_5 {
    padding: 0 3rem;

    @media (max-width: 1400px) {
      padding: 0 1rem;
    }

    @media (max-width: 1200px) {
      padding: 0 0rem;
    }

    @media (max-width: 576px) {
      padding: 0 10px;
    }
  }

  .achivements_inner {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-flow: row wrap;

    @media (max-width: 992px) {
      justify-content: flex-start;
      gap: 15px;
      text-align: left;
    }

    .achievement1 {
      display: flex;
      align-items: center;

      .achive_img {
        width: 4.375rem;
        height: 4.375rem;
        line-height: 4.125rem;
        border: 0.0625rem dashed #ffffff;
        border-radius: 100%;
        flex-shrink: 0;
        margin-right: 1.25rem;

        @media (max-width: 992px) {
          text-align: center;
        }

        img {
          vertical-align: middle;
          max-width: 100%;
        }
      }

      .achive_texts {
        p {
          font-size: 0.875rem;
          font-weight: 600;
          text-transform: uppercase;
          color: #ffffff;
          margin-bottom: 0rem;
          line-height: 1.75rem;
        }

        .d-flex {
          h2 {
            margin-bottom: 0;
            line-height: 2rem;
            font-size: 1.5rem;
            font-weight: 600;
            color: #ffffff;
            margin-top: 0rem;
            margin-bottom: 0rem;

            @media (max-width: 1400px) {
              font-size: calc(1.275rem + 0.25714vw);
              line-height: calc(1.325rem + 0.77143vw);
            }
          }
        }
      }
    }
  }
}
