@import "../../../../Scss/variable";
@import "../../../../Scss/mixin";

.service_section {
  padding: 100px 0;
  position: relative;
  z-index: 1;
  @media (max-width: 992px) {
    padding: 100px 0 0 0;
  }

  .px_5 {
    padding: 0 3rem;

    @media (max-width: 1400px) {
      padding: 0 1rem;
    }

    @media (max-width: 1200px) {
      padding: 0 0rem;
    }

    @media (max-width: 576px) {
      padding: 0 12px;
    }
  }
  .pr_10 {
    padding: 0 10px 0 0px;
    @media (max-width: 992px) {
      padding: 0;
    }
  }
  .pl_10 {
    padding: 0 0 0 10px;
    @media (max-width: 992px) {
      padding: 0;
    }
  }

  .col_box {
    margin-bottom: 5.625rem;
    &:hover {
      h6 {
        margin-bottom: 15px;
      }
    }

    h6 {
      color: $text_color_dark1;
      margin-bottom: 8px;
      transition: 0.3s ease-in-out;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.2;
    }

    h4 {
      margin: 15px 0 20px 0;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.2;
      @media (max-width: 1400px) {
        font-size: calc(1.275rem + 0.25714vw);
      }

      a {
        transition: 0.3s ease-in-out;
        color: $text_color_dark2;
      }
    }

    p {
      color: $text_color_dark3;
      font-size: 0.875rem;
      line-height: 26px;
      font-weight: 400;
      transition: 0.3s ease-in-out;
    }

    .arrow_details {
      margin-top: 20px;

      a {
        color: $text_color_dark2;
        position: relative;
        width: 20px;
        height: 15px;
        overflow: hidden;
        display: inline-block;

        &:hover {
          .arrow1 {
            opacity: 0;
            transform: scale(0);
          }
          .arrow2 {
            width: 15px;
            opacity: 1;
            &::before {
              top: 0px;
            }
            &::after {
              bottom: 0px;
            }
          }
        }

        .arrow1 {
          background-color: $back_border_dark;
          width: 15px;
          opacity: 1;
          position: absolute;
          left: 0;
          top: 50%;
          height: 1px;
          display: inline-block;
          transition: all 0.5s ease-in-out;

          &::before {
            background-color: $back_border_dark;
            top: 0;
            transform: rotate(40deg);
            content: "";
            position: absolute;
            right: 0;
            width: 7px;
            height: 1px;
            transform-origin: right;
            transition: all 0.5s ease-in-out;
          }

          &::after {
            background-color: $back_border_dark;
            bottom: 0;
            transform: rotate(-40deg);
            content: "";
            position: absolute;
            right: 0;
            width: 7px;
            height: 1px;
            transform-origin: right;
            transition: all 0.5s ease-in-out;
          }
        }

        .arrow2 {
          width: 0px;
          background-color: $text_color_grey2;
          opacity: 0;
          position: absolute;
          left: 0;
          top: 50%;
          height: 1px;
          display: inline-block;
          transition: all 0.5s ease-in-out;

          &::before {
            top: -10px;
            background-color: $text_color_grey2;
            transition: all 0.7s ease-in-out;
            transform: rotate(40deg);
            content: "";
            position: absolute;
            right: 0;
            width: 7px;
            height: 1px;
            transform-origin: right;
          }

          &::after {
            bottom: -10px;
            background-color: #a6a182;
            transition: all 0.7s ease-in-out;
            transform: rotate(-40deg);
            content: "";
            position: absolute;
            right: 0;
            width: 7px;
            height: 1px;
            transform-origin: right;
          }
        }
      }
    }
  }
}
