@import "../../../../Scss/variable";
@import "../../../../Scss/mixin";

.blckbox_section {
  padding: 100px 4.375rem 100px 4.375rem;
  position: relative;
  z-index: 2;

  @media (max-width: 1400px) {
    padding: 100px calc(1.5625rem + 3.21429vw) 100px;
  }
  @media (max-width: 576px) {
    padding-top: 50px;
  }

  .short_line {
    position: relative;
    z-index: 1;

    &::before {
      height: 7.5rem;
      content: "";
      position: absolute;
      left: calc(50% - 1px);
      bottom: calc(100% - 60px);
      width: 2px;
      background: $text_color_grey3;

      @media (max-width: 1400px) {
        height: calc(1.875rem + 6.42857vw);
      }

      @media (max-width: 768px) {
        width: 1px;
      }
    }
  }

  .black_box {
    padding: 9.375rem 0 6.875rem 0;
    position: relative;
    z-index: 1;
    background-color: $text_color_dark1;

    @media (max-width: 1400px) {
      padding: calc(2.0625rem + 8.35714vw) 0 calc(1.8125rem + 5.78571vw) 0;
    }

    &::before {
      position: absolute;
      content: "";
      background: url(../../../../assets/bg_t_1.png);
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
    }

    &::after {
      position: absolute;
      content: "";
      background: url(../../../../assets/bg_t_2.png);
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: left center;
      top: 0;
    }

    .swiper_element {
      padding-bottom: 50px;

      @media (max-width: 768px) {
        padding-bottom: 3rem;
      }

      .swiper-slide {
        cursor: grab;

        .swipe_item {
          text-align: center;
          position: relative;
          z-index: 1;

          p {
            color: $text_white;
            line-height: 26px;
            font-weight: 400;

            @media (max-width: 480px) {
              font-size: 14px;
              padding: 0 10px;
            }
          }

          h6 {
            margin: 30px 0 0 0;
            position: relative;
            color: $text_color_grey2;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.2;
            display: inline-block;

            @media (max-width: 480px) {
              font-size: 14px;
            }

            &::before {
              position: absolute;
              content: "";
              background: $text_white;
              width: 14px;
              height: 2px;
              left: -27px;
              top: 8px;
            }
          }
        }
      }

      .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          opacity: 1;
          background-color: $text_color_grey3;
        }

        .swiper-pagination-bullet-active-main {
          width: 12px;
          height: 12px;
          background-color: $text_color_grey2;
        }
      }
    }
  }
}
