@import "../../../Scss/variable";
@import "../../../Scss/mixin";

.error_main {
  position: relative;
  height: 100vh;
  overflow: hidden;
  @extend %grid_animation;

  .net_lines {
    padding: 0 8.9375rem;

    @media (max-width: 1400px) {
      padding: 0 calc(2.01875rem + 7.90714vw);
    }

    .animated_line {
      background-color: $back_border_light;
    }
  }
  .background_pageimg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/bg-2-light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
