@import "../../../../Scss/variable";
@import "../../../../Scss/mixin";

.video_container {
  margin-bottom: -26.25rem;
  position: relative;
  z-index: 2;
  @media (max-width: 1400px) {
    margin-bottom: calc(-4.375rem - 25.71429vw);
  }

  .px_5 {
    padding: 0 42px;

    @media (max-width: 1400px) {
      padding: 0 1rem;
    }

    @media (max-width: 1200px) {
      padding: 0 0rem;
    }

    @media (max-width: 576px) {
      padding: 0 6px;
    }
  }

  .video_post {
    display: inline-block;
    width: 100%;

    .ytube_video {
      position: relative;
      overflow: hidden;

      iframe {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 43.75rem;
        height: 100%;
        @media (max-width: 1400px) {
          min-height: calc(5.5rem + 43.71429vw);
        }
      }

      .showvideo {
        opacity: 1;
        z-index: 2;
      }

      .cover_content {
        .play_button {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 210px;
          height: 210px;
          background: rgba(255, 255, 255, 0.25);
          text-align: center;
          font-size: 5rem;
          color: #ffffff;
          border-radius: 100%;
          cursor: pointer;
          transition: all 0.5s ease-in-out;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            text-align: center;
            font-size: 4rem;
            color: #ffffff;
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
