@import "../../../Scss/variable";
@import "../../../Scss/mixin";

nav {
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;

  .px_5 {
    padding: 0 3rem;

    @media (max-width: 1400px) {
      padding: 0 1rem;
    }

    @media (max-width: 1200px) {
      padding: 0 0rem;
    }

    @media (max-width: 576px) {
      padding: 0 10px;
    }
  }

  .logo {
    height: 100%;
  }

  .midnav_none {
    @media (max-width: 992px) {
      display: none;
    }
  }

  .media576 {
    @media (max-width: 576px) {
      width: 50%;
    }
  }

  .col_adapter {
    .main_nav_list {
      padding: 0;
      margin: 0;
      display: flex;
      // gap: 70px;
      justify-content: flex-end;

      .main_nav_heading {
        padding: 27px 71px 27px 0;
        cursor: pointer;
        position: relative;

        &:hover {
          .link_holder {
            span {
              color: $text_color_grey2;
            }
          }

          .rest_menu {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0px, 0px, 0px);
          }
        }

        @media (max-width: 1200px) {
          padding: 27px 55px 27px 0;
        }

        &:last-child {
          padding: 27px 0;
        }

        .link_holder {
          span {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transition: 0.3s ease-in-out;
          }

          svg {
            margin: 0 0 2px 2px;
          }
        }

        .rest_menu {
          background-color: $text_white;
          position: absolute;
          top: 100%;
          left: 0;
          opacity: 0;
          visibility: hidden;
          min-width: 12.5rem;
          margin: 0rem 0rem;
          padding: 0.9375rem 1.5625rem;
          z-index: 5;
          transition: all 0.5s ease-in-out;
          transform: translate3d(15px, 0px, 0px);

          .rest_pages {
            @extend %third_li;
            position: relative;

            &:hover {
              span {
                color: $text_color_grey2;
              }

              .third_lvl_menu {
                opacity: 1;
                visibility: visible;
                transform: translate3d(0px, 0px, 0px);
              }
            }

            .third_level_head {
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;

              span {
                font-weight: 500;
                transition: 0.3s ease-in-out;
              }

              svg {
                color: $text_color_dark3;
              }
            }

            span {
              font-weight: 500;
              transition: 0.3s ease-in-out;
            }

            svg {
              color: $text_color_dark3;
            }

            .third_lvl_menu {
              position: absolute;
              left: calc(100% + 26px);
              top: -15px;
              background: $text_white;
              opacity: 0;
              visibility: hidden;
              min-width: 12.5rem;
              margin: 0rem 0rem;
              padding: 0.9375rem 1.5625rem;
              z-index: 5;
              transition: all 0.5s ease-in-out;
              transform: translate3d(15px, 0px, 0px);

              .rest_pages1 {
                @extend %third_li;

                &:hover {
                  span {
                    color: $text_color_grey2;
                  }
                }

                span {
                  color: $text_color_dark1;
                }
              }
            }
          }
        }
      }
    }
  }

  .right_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 5px;

    .info_btn {
      border: none;
      background-color: transparent;
      margin-right: 18px;
      display: flex;
      align-items: center;

      svg {
        font-size: 20px;
        color: $text_color_dark1;
      }
    }

    .nav_search {
      padding-left: 20px;
      border-left: 1px solid $text_color_dark3;
      height: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        font-size: 16px;
        color: $text_color_dark3;
      }
    }

    .search_popup {
      width: 23.125rem;
      position: absolute;
      top: 100%;
      right: 12%;
      height: 0;
      transform: translateY(-30px);
      margin: 0px 15px 0px 0px;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      z-index: 3;

      @media (max-width: 1490px) {
        right: 11%;
      }

      @media (max-width: 1450px) {
        right: 10%;
      }

      @media (max-width: 1400px) {
        width: calc(3.4375rem + 22.5vw);
      }

      @media (max-width: 1350px) {
        right: 9%;
      }

      @media (max-width: 1300px) {
        top: 100%;
        right: 7%;
      }

      @media (max-width: 1250px) {
        right: 4%;
      }

      @media (max-width: 1200px) {
        right: 8%;
      }

      @media (max-width: 1150px) {
        right: 7%;
      }

      @media (max-width: 1100px) {
        right: 5%;
      }

      @media (max-width: 1050px) {
        right: 3%;
      }

      @media (max-width: 992px) {
        right: 11%;
      }

      @media (max-width: 850px) {
        right: 5%;
      }

      @media (max-width: 768px) {
        right: 12%;
      }

      @media (max-width: 690px) {
        right: 8%;
      }

      @media (max-width: 576px) {
        right: 0%;
      }

      .search_form {
        width: 100%;
        max-width: 100%;

        input {
          color: $text_color_dark3;
          height: 3.75rem;
          border-radius: 0rem;
          padding: 0.3125rem 1.5625rem;
          background: $text_white;
          border: 1px solid $text_color_grey1;
          line-height: 1.5;
          transition: all 0.5s ease-in-out;
          backface-visibility: hidden;
          box-sizing: border-box;
          outline: none;
          outline-offset: 0;
          font-size: 0.75rem;
          font-weight: 600;
          display: block;
          width: 100%;
        }

        .search_btn {
          color: $text_color_dark3;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          border: 0px;
          background: transparent;
          padding: 0.625rem;
          font-size: 1rem;
          cursor: pointer;
        }
      }
    }

    .active {
      height: 3.75rem;
    }

    .menu_bars {
      display: none;
      margin-left: 15px;

      svg {
        font-size: 20px;
      }

      @media (max-width: 992px) {
        display: flex;
        align-items: center;
      }
    }
  }

  .information_window {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 39.3%;
    padding: 2.5rem 3.125rem;
    color: $text_color_dark3;
    background-color: $back_color1;
    transform: translateX(500px) scale(0);
    text-align: center;
    overflow-y: auto;
    z-index: 99;
    transition: all 0.5s ease-in-out;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 768px) {
      width: 50%;
      padding: 2rem 2rem 2.5rem 2rem;
    }

    @media (max-width: 576px) {
      width: 60%;
    }

    .close_field {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
      margin-bottom: 55px;
      height: 26px;
      cursor: pointer;

      svg {
        font-size: 20px;
      }
    }

    .logo_field {
      margin-bottom: 25px;

      .info_logo {
        img {
          @media (max-width: 576px) {
            width: 70%;
          }
        }
      }
    }

    p {
      line-height: 26px;
      font-weight: 400;
      margin-bottom: 1rem;

      @media (max-width: 576px) {
        font-size: 14px;
      }
    }

    .info_texts {
      padding: 5px 15px 0 15px;

      p {
        line-height: 26px;
        font-weight: 400;
        margin-bottom: 1rem;

        @media (max-width: 576px) {
          font-size: 14px;
        }
      }

      h5 {
        color: $text_color_dark1;
        margin: 2.7rem 0 0.9375rem 0;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.2;
      }
      .social_media {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 1.875rem 0 2rem 0;
        @media (max-width: 390px) {
          flex-wrap: wrap;
        }
        .socialsite {
          background-color: #2e2e2e;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          cursor: pointer;

          svg {
            color: white;
            font-size: 19px;
          }
        }
      }
    }
  }

  .active_info {
    transform: translateX(0px) scale(1);
  }

  .mobile_nav_menu {
    position: fixed;
    top: 0;
    right: 0;
    // animation-name: ma5menuIn;
    background-color: $text_white;
    // animation-timing-function: ease-out;
    // animation-duration: 0.5s;
    // animation-delay: 0s;
    // animation-fill-mode: both;
    transform: translateX(440px);
    right: 0px;
    width: 440px;
    height: 100vh;
    line-height: 19px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 120;
    box-shadow: 0 0 12px rgb(0 0 0 / 14%);
    transition: 0.5s ease-in-out;

    @media (max-width: 768px) {
      width: 280px;
      transform: translateX(280px);
    }

    // @keyframes ma5menuIn {
    //   0% {
    //     transform: translate3d(0, 0, 0);
    //   }

    //   100% {
    //     transform: translate3d(-440px, 0, 0);
    //   }
    // }

    .menu_head {
      text-align: center;
      margin-bottom: 30px;

      .close_btn {
        width: 100%;
        height: 35px;
      }
    }

    .menu_pannel {
      z-index: 170;
      display: block;
      width: 95%;
      position: absolute;
      margin: 0;
      padding: 0;
      // color: #ffffff1a;
      // animation-name: ma5menuOutB;
      // animation-timing-function: ease-out;
      // animation-duration: 0.5s;
      // animation-delay: 0s;
      // animation-fill-mode: both;

      // @keyframes ma5menuOutB {
      //   0% {
      //     transform: translate3d(-440px, 0, 0);
      //   }

      //   100% {
      //     transform: translate3d(0, 0, 0);
      //   }
      // }

      .mobile_list {
        padding: 0;
        margin: 0;
        transition: 0.5s ease-in-out;

        .mobile_li {
          position: relative;
          font-size: 0;
          padding-left: 0;
          padding-right: 0px;
          margin-bottom: 0;
          line-height: 0;
          border-left: 0px solid transparent;
          transition: all 0.5s ease-in-out;
          &:hover {
            border-left: 3px solid $text_color_grey2;
          }

          .link_place {
            border-bottom: 1px solid $back_color1;
            pointer-events: auto;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            letter-spacing: 0.3px;
            transition: color 0.3s ease-out, background-color 0.3s ease-out;
            padding: 10px 15px 10px 30px;
            font-size: 15px;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 24px;
            overflow: hidden;
            touch-action: manipulation;
            min-height: 50px;
            cursor: pointer;
          }

          .link_span {
            z-index: 0;
            left: auto;
            right: 0px;
            width: 40px;
            line-height: 50px;
            background: rgba(153, 153, 153, 0.1);
            font-size: 13px;
            cursor: pointer;
            display: block;
            position: absolute;
            padding: 0;
            top: 0;
            height: 100%;
            text-align: center;
            touch-action: manipulation;
            transition: all 0.5s ease-in-out;
            &:hover {
              svg {
                color: $text_color_grey2;
              }
            }
          }
        }
      }
      .mobile_lvl2 {
        position: absolute;
        top: 0;
        left: 110%;
        margin: 0;
        padding: 0;
        width: 440px;
        transition: 0.5s ease-in-out;
        // background-color: $text_white;
        @media (max-width: 768px) {
          width: 280px;
        }

        .mobile_lvl2_head {
          display: flex;
          padding: 15px;
          margin: 0 0px;
          background-color: $back_color1;
          cursor: pointer;
          .icon_return {
            width: 40%;
          }
          .lvl_name {
            width: 60%;
            font-weight: 600;
          }
        }
        .mobile_li2 {
          transition: 0.5s ease-in-out;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 15px 0 0;
          .link_span {
            background-color: $text_color_grey1;
            width: 40px;
            height: 100%;
            line-height: 50px;
            text-align: center;
          }
          .link_place {
            border-bottom: 1px solid $back_color1;
            padding: 14px 30px;
            width: calc(100% - 40px);
          }
          &:hover {
            color: $text_color_grey2;
            border-left: 3px solid $text_color_grey2;
          }
        }
      }
      .moving {
        left: 0%;
      }
      .replace {
        transform: translateX(-440px);
      }
      #lvl3 {
        transform: translateX(-440px);
      }
    }
  }

  .showing {
    transform: translateX(0px);
  }
}
