@import "../../../Scss/variable";
nav {
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  .px_5 {
    padding: 0 3rem;
    @media (max-width: 1400px) {
      padding: 0 1rem;
    }
    @media (max-width: 1200px) {
      padding: 0 0rem;
    }
    @media (max-width: 576px) {
      padding: 0 10px;
    }
  }
  .logo {
    height: 100%;
  }
  .midnav_none {
    @media (max-width: 992px) {
      display: none;
    }
  }
  .media576 {
    @media (max-width: 576px) {
      width: 50%;
    }
  }
  .col_adapter {
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      // gap: 70px;
      justify-content: flex-end;
      li {
        padding: 27px 71px 27px 0;
        cursor: pointer;
        @media (max-width: 1200px) {
          padding: 27px 56px 27px 0;
        }
        &:last-child {
          padding: 27px 0;
        }
        span {
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 1.2px;
        }
        svg {
          margin: 0 0 2px 2px;
        }
      }
    }
  }
  .right_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 5px;
    .info_popup {
      border: none;
      background-color: transparent;
      margin-right: 18px;
      display: flex;
      align-items: center;
      svg {
        font-size: 20px;
        color: $text_color_dark1;
      }
    }
    .nav_search {
      padding-left: 20px;
      border-left: 1px solid $text_color_dark3;
      height: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
        font-size: 16px;
        color: $text_color_dark3;
      }
    }
    .menu_bars {
      display: none;
      margin-left: 15px;
      svg {
        font-size: 20px;
      }
      @media (max-width: 992px) {
        display: block;
      }
    }
  }
}
