@import "../../../../Scss/variable";
@import "../../../../Scss/mixin";

.first_section {
  background-color: $back_color1;
  padding: 190px 0 170px 0;
  position: relative;

  .section_under {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;

    @media (max-width: 768px) {
      display: none;
    }

    .col_adaptation {
      height: 100%;
      width: 100%;
      border-right: 1px solid rgb(221, 221, 221);
    }

    .brdr_left {
      border-left: 1px solid rgb(221, 221, 221);
    }
  }

  .section_on {
    .px_5 {
      padding: 0 3rem;

      @media (max-width: 1400px) {
        padding: 0 1rem;
      }

      @media (max-width: 1200px) {
        padding: 0 0rem;
      }

      @media (max-width: 576px) {
        padding: 0 10px;
      }

      .swiper_element {
        height: 630px;
        &:hover {
          .swiper-button-prev {
            transform: translateY(0px);
          }
          .swiper-button-next {
            transform: translateY(0px);
          }
        }
        .swiper-button-prev {
          left: 95%;
          top: 87.8%;
          background-repeat: no-repeat;
          background-position: center;
          background-color: white;
          width: 44px;
          height: 44px;
          background-size: 18px;
          transform: translateY(200px);
          transition: 0.9s ease-in-out;
          transition: 0.8s ease-out;
          background-image: url(../../../../assets/left-arrow.png);
          &:hover {
            background-color: $text_color_grey2;
            color: white;
          }
          &::after {
            display: none;
          }
        }

        .swiper-button-next {
          transform: translateY(200px);
          width: 44px;
          height: 44px;
          left: 95%;
          top: 95%;
          background-size: 18px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: white;
          background-image: url(../../../../assets/right-arrow.png);
          transition: 0.7s ease-in-out;
          &:hover {
            background-color: $text_color_grey2;
            color: white;
          }
          &::after {
            display: none;
          }
        }
      }
    }

    .slider_inner {
      .slider_img {
        width: 87%;
        position: relative;

        img {
          width: 100%;
        }

        .image_card {
          position: absolute;
          top: 17%;
          left: 80%;
          width: 310px;
          padding: 20px 30px;
          background-color: $text_color_dark2;

          h6 {
            color: $text_color_grey2;
            font-size: 11px;
          }

          h4 {
            color: $text_white;
            margin-bottom: 6.25rem;
            padding: 6.25rem 0 0 0;
            font-size: 24px;
            font-weight: 700;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              height: 6.25rem;
              width: 0.5px;
              background-color: #54595f;
            }
          }

          .details_link {
            cursor: pointer;

            .details_text {
              color: $text_color_grey2;
              font-size: 11px;
              margin-right: 1.875rem;
            }

            @extend %link_animation;

            &:hover {
              @extend %link_animation_hover;
            }
          }
        }
      }
    }
  }
}
