@import "../../../../Scss/variable";
@import "../../../../Scss/mixin";

.first_section {
  background-color: $back_color1;
  padding: 190px 0 0px 0;
  position: relative;

  @media (max-width: 1300px) {
    padding: 170px 0 0px 0;
  }

  @media (max-width: 1100px) {
    padding: 140px 0 0px 0;
  }

  @media (max-width: 992px) {
    padding: 120px 0 0px 0;
  }

  @media (max-width: 768px) {
    padding: 100px 0 0px 0;
  }

  @media (max-width: 576px) {
    padding: 90px 0 0px 0;
  }

  .section_under {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;

    @media (max-width: 768px) {
      display: none;
    }

    .col_adaptation {
      height: 100%;
      width: 100%;
      border-right: 1px solid $back_border_light;
    }

    .brdr_left {
      border-left: 1px solid $back_border_light;
    }
  }

  .section_on {
    .px_5 {
      padding: 0 3rem;

      @media (max-width: 1400px) {
        padding: 0 1rem;
      }

      @media (max-width: 1200px) {
        padding: 0 0rem;
      }

      @media (max-width: 576px) {
        padding: 0 10px;
      }

      .swiper_element {
        padding-bottom: 4rem;
        @media (max-width: 768px) {
          padding-bottom: 3rem;
        }

        &:hover {
          .swiper-button-prev {
            transform: translateY(0px);
          }

          .swiper-button-next {
            transform: translateY(0px);
          }
        }

        .swiper-button-prev {
          left: 95%;
          top: 88%;
          background-repeat: no-repeat;
          background-position: center;
          background-color: $text_white;
          width: 44px;
          height: 44px;
          background-size: 18px;
          transform: translateY(200px);
          transition: 0.9s ease-in-out;
          transition: 0.8s ease-out;
          background-image: url(../../../../assets/left-arrow.png);
          @media (max-width: 992px) {
            left: 93%;
          }
          @media (max-width: 768px) {
            left: 92%;
          }
          @media (max-width: 576px) {
            left: 90%;
          }
          @media (max-width: 460px) {
            left: 86.5%;
          }
          &:hover {
            background-color: $text_color_grey2;
            color: $text_white;
          }

          &::after {
            display: none;
          }
        }

        .swiper-button-next {
          transform: translateY(200px);
          width: 44px;
          height: 44px;
          left: 95%;
          top: 95%;
          background-size: 18px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: $text_white;
          background-image: url(../../../../assets/right-arrow.png);
          transition: 0.7s ease-in-out;
          @media (max-width: 992px) {
            left: 93%;
          }
          @media (max-width: 768px) {
            left: 92%;
          }
          @media (max-width: 576px) {
            left: 90%;
          }
          @media (max-width: 460px) {
            left: 86.5%;
          }

          &:hover {
            background-color: $text_color_grey2;
            color: $text_white;
          }

          &::after {
            display: none;
          }
        }

        .swiper-pagination {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
          }

          .swiper-pagination-bullet-active-main {
            width: 12px;
            height: 12px;
            background-color: $text_color_grey2;
          }
        }
      }
    }

    .slider_inner {
      cursor: grab;
      .slider_img {
        width: 86.5%;
        position: relative;

        @media (max-width: 992px) {
          height: 100%;
        }
        @media (max-width: 460px) {
          width: 81%;
        }

        img {
          width: 100%;
          height: 588px;
          object-fit: cover;
          object-position: left;

          @media (max-width: 1200px) {
            height: 565px;
          }

          @media (max-width: 1100px) {
            height: 554px;
          }

          @media (max-width: 768px) {
            height: 517px;
          }

          @media (max-width: 576px) {
            height: 498px;
          }

          @media (max-width: 480px) {
            height: 485px;
          }
          @media (max-width: 420px) {
            height: 478px;
          }
        }

        .image_card {
          position: absolute;
          top: 17%;
          left: 80%;
          width: 310px;
          padding: 25px 30px 20px 30px;
          transform: scale3d(0.8);
          transition: 1s ease-in-out;
          background-color: $text_color_dark2;
          transition: 0.3s ease-in-out;
          @media (max-width: 1200px) {
            top: 18%;
          }
          @media (max-width: 992px) {
            top: 19%;
            left: 67%;
          }
          @media (max-width: 768px) {
            top: 20%;
            left: 52%;
          }
          @media (max-width: 576px) {
            top: 21%;
            left: 48%;
            width: 280px;
          }
          @media (max-width: 480px) {
            top: 22%;
            left: 38%;
          }
          // @media(max-width:440px) {
          //   width: 260px;
          // }

          // &:hover {
          //   transform: perspective(1000px) rotateX(5deg) rotateY(15deg);
          // }

          h6 {
            color: $text_color_grey2;
            font-size: 11px;
            font-weight: 600;
          }

          h4 {
            color: $text_white;
            margin-bottom: 6.25rem;
            padding: 6.25rem 0 0 0;
            font-size: 24px;
            font-weight: 700;
            position: relative;

            @media (max-width: 1400px) {
              padding-top: calc(1.75rem + 5.14286vw);
              margin-bottom: calc(1.75rem + 5.14286vw);
              font-size: calc(1.275rem + 0.25714vw);
            }
            @media (max-width: 576px) {
              max-width: 90%;
            }
            @media (max-width: 440px) {
              max-width: 100%;
            }

            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              height: 6.25rem;
              width: 0.5px;
              background-color: $text_color_dark3;
              @media (max-width: 1400px) {
                height: calc(1.75rem + 5.14286vw);
              }
            }
          }

          .details_link {
            cursor: pointer;

            .details_text {
              color: $text_color_grey2;
              font-size: 11px;
              margin-right: 1.875rem;
              font-weight: 600;
            }

            @extend %link_animation;

            &:hover {
              @extend %link_animation_hover;
            }
          }
        }
      }
    }
  }
  .white_separator {
    background-color: $text_white;
    margin-top: 5.9375rem;
    position: relative;
    z-index: 1;
    width: calc(100% - 260px);
    height: 5rem;
    transition: 0.3s ease-in-out;
    @media (max-width: 1400px) {
      margin-top: calc(1.71875rem + 4.82143vw);
    }
  }
}
