%link_animation {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: $text_color_grey2;

  .line {
    position: absolute;
    right: 10%;
    top: 43.4%;
    width: 2.1875rem;
    height: 0.0625rem;
    display: inline-block;
    background-color: $text_color_grey2;
    z-index: 1;
    transform-origin: right;
    transition: all 0.5s ease-in-out;
  }

  .circle {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid $text_color_grey2;
    color: $text_color_grey2;
  }

  .dot {
    position: absolute;
    left: 88%;
    top: 44%;
    transform: translate(-50%, -50%);
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 100%;
    display: inline-block;
    background-color: $text_color_grey2;
    color: $text_color_grey2;
  }
}

%link_animation_hover {
  @keyframes scaleAnim1 {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  @keyframes rotateAnim {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes scaleAnim2 {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.8);
      background: $text_white;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  .line {
    animation: scaleAnim1 2s infinite linear;
  }
  .circle {
    animation: rotateAnim 7s infinite linear;
    border-style: dashed;
  }
  .dot {
    animation: scaleAnim2 2s infinite ease-in-out;
  }
}
