@mixin _Img(
  $width: null,
  $height: null,
  $margin: null,
  $object_f: null,
  $object_p: null,
  $border: null,
  $border_r: null,
  $cursor: null,
  $justify_con: null
) {
  width: $width;
  height: $height;
  margin: $margin;
  object-fit: $object_f;
  object-position: $object_p;
  border: $border;
  border-radius: $border_r;
  cursor: $cursor;
  justify-content: $justify_con;
}

@mixin _txt(
  $f_size: null,
  $f_weight: null,
  $colors: null,
  $l_height: null,
  $text_align: null,
  $txt_dec: null,
  $txt_transform: null,
  $margin: null,
  $padding: null,
  $position: null,
  $display: null,
  $l_style: null,
  $width: null,
  $height: null,
  $transition: null,
  $overflow: null,
  $flex_wrap: null,
  $flex_grow: null,
  $flex_direct: null,
  $justif_cont: null,
  $a_items: null,
  $border: null,
  $brdr_t: null,
  $brdr_b: null,
  $brdr_l: null,
  $brdr_r: null,
  $trans_origin: null
) {
  font-size: $f_size;
  font-weight: $f_weight;
  color: $colors;
  line-height: $l_height;
  text-align: $text_align;
  text-decoration: $txt_dec;
  text-transform: $txt_transform;
  margin: $margin;
  padding: $padding;
  position: $position;
  display: $display;
  list-style: $l_style;
  width: $width;
  height: $height;
  transition: $transition;
  overflow: $overflow;
  flex-wrap: $flex_wrap;
  flex-grow: $flex_grow;
  flex-direction: $flex_direct;
  justify-content: $justif_cont;
  align-items: $a_items;
  border: $border;
  border-top: $brdr_t;
  border-bottom: $brdr_b;
  border-left: $brdr_l;
  border-right: $brdr_r;
  transform-origin: $trans_origin;
}

@mixin _a(
  $width: null,
  $height: null,
  $text-align: null,
  $border-r: null,
  $box-shadow: null,
  $padding: null,
  $margin: null,
  $border: null,
  $transition: null,
  $a_items: null,
  $f_size: null,
  $b_color: null,
  $colors: null,
  $f_weight: null,
  $transform: null,
  $cursor: null
) {
  width: $width;
  height: $height;
  text-align: $text-align;
  border-radius: $border-r;
  box-shadow: $box-shadow;
  padding: $padding;
  margin: $margin;
  border: $border;
  transition: $transition;
  align-items: $a_items;
  font-size: $f_size;
  background-color: $b_color;
  color: $colors;
  font-weight: $f_weight;
  cursor: $cursor;
}

@mixin _position(
  $position: null,
  $top: null,
  $bottom: null,
  $left: null,
  $right: null,
  $colors: null,
  $b_color: null,
  $background: null,
  $f_size: null,
  $f_weight: null,
  $f_fam: null,
  $width: null,
  $height: null,
  $padding: null,
  $z-index: null,
  $content: null,
  $overflow: null,
  $l_height: null,
  $transform: null,
  $back_pos: null,
  $back_repeat: null,
  $back_img: null,
  $back_size: null,
  $transition: null,
  $txt_align: null,
  $opacity: null,
  $visibility: null,
  $cursor: null,
  $trans_origin: null
) {
  position: $position;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
  color: $colors;
  background-color: $b_color;
  background: $background;
  font-size: $f_size;
  font-weight: $f_weight;
  font-family: $f_fam;
  width: $width;
  height: $height;
  padding: $padding;
  z-index: $z-index;
  content: $content;
  overflow: $overflow;
  line-height: $l_height;
  transform: $transform;
  background-position: $back_pos;
  background-repeat: $back_repeat;
  background-image: $back_img;
  background-size: $back_size;
  transition: $transition;
  text-align: $txt_align;
  opacity: $opacity;
  visibility: $visibility;
  cursor: $cursor;
  transform-origin: $trans_origin;
}

%link_animation {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: $text_color_grey2;

  .line {
    position: absolute;
    right: 10%;
    top: 43.4%;
    width: 2.1875rem;
    height: 0.0625rem;
    display: inline-block;
    background-color: $text_color_grey2;
    z-index: 1;
    transform-origin: right;
    transition: all 0.5s ease-in-out;
  }

  .circle {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid $text_color_grey2;
    color: $text_color_grey2;
  }

  .dot {
    position: absolute;
    left: 88%;
    top: 44%;
    transform: translate(-50%, -50%);
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 100%;
    display: inline-block;
    background-color: $text_color_grey2;
    color: $text_color_grey2;
  }
}

%link_animation_hover {
  @keyframes scaleAnim1 {
    0% {
      transform: scaleX(1);
    }

    50% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }
  }

  @keyframes rotateAnim {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes scaleAnim2 {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }

    50% {
      transform: translate(-50%, -50%) scale(0.8);
      background: $text_white;
    }

    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .line {
    animation: scaleAnim1 2s infinite linear;
  }

  .circle {
    animation: rotateAnim 7s infinite linear;
    border-style: dashed;
  }

  .dot {
    animation: scaleAnim2 2s infinite ease-in-out;
  }
}

%third_li {
  font-size: 0.6875rem;
  padding: 0.625rem 0rem;
  width: 100%;
  line-height: 0.875rem;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
}

%grid_animation {
  .net_lines {
    padding: 0 0.5rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    margin: 0px;
    list-style-type: none;
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }

    .animated_line {
      background-color: #191919;
      position: relative;
      width: 1px;
      height: 100%;
      display: inline-block;
      mix-blend-mode: difference;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 60px;
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: gridanim 25s linear infinite;

        @keyframes gridanim {
          0% {
            top: 0%;
          }

          100% {
            top: 100%;
          }
        }
      }

      &:nth-child(2) {
        &::before {
          animation-delay: 1s;
        }
      }

      &:nth-child(4) {
        &::before {
          animation-delay: 1s;
        }
      }

      &:nth-child(6) {
        &::before {
          animation-delay: 1s;
        }
      }
    }
  }
}

%footer_back_anim {
  .lines_footer_back {
    padding: 0 0.5rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    margin: 0px;
    list-style-type: none;
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }

    .animated_line {
      background-color: #191919;
      position: relative;
      width: 1px;
      height: 100%;
      display: inline-block;
      mix-blend-mode: difference;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 60px;
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: gridanim 25s linear infinite;

        @keyframes gridanim {
          0% {
            top: 0%;
          }

          100% {
            top: 100%;
          }
        }
      }

      &:nth-child(2) {
        &::before {
          animation-delay: 1s;
        }
      }

      &:nth-child(4) {
        &::before {
          animation-delay: 1s;
        }
      }

      &:nth-child(6) {
        &::before {
          animation-delay: 1s;
        }
      }
    }
  }
}

%perspective_info {
  .works_info {
    right: -110px;
    left: unset;
    padding: 2.8125rem;
    position: absolute;
    background: $text_color_dark1;
    max-width: 300px;
    top: 50%;
    margin-top: 0px;
    transform: translateY(-50%) perspective(400px) rotateY(-90deg);
    transform-origin: center;
    transition: all 0.5s ease-in-out;

    .works_texts {
      h6 {
        letter-spacing: 0.1875rem;
        color: $text_color_grey2;
        font-size: 0.6875rem;
        font-weight: 600;
        line-height: 1.375rem;
        margin-bottom: 0px;
        transition-delay: 0.9s;

        a {
          color: $text_color_grey2;
        }
      }

      h5 {
        margin: 3.125rem 0 1.25rem 0;
        position: relative;
        color: $text_white;
        transition-delay: 0.6s;
        font-size: 1.25rem;
        font-weight: 600;

        a {
          color: $text_white;
          transition: all 0.5s ease-in-out;

          &:hover {
            color: $text_color_grey2;
          }
        }
      }
    }
  }
}

%input_group {
  margin-bottom: 1.5625rem;
  transition: all 0.5s ease;
  display: block;
  width: 100%;
  height: 64px;
  padding: 10px 40px;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: $back_color1;
  color: $text_color_dark1;
  min-height: calc(1.5em + 1rem + 2px);
  line-height: 1.5;
  border: 1px solid $text_color_grey1;
}

%animative_undereline {
  width: 2.5rem;
  height: 0.0625rem;
  background: $text_color_grey2;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;

  &::before {
    background-color: $text_white;
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    width: 4px;
    height: 1px;
    transition: 0.3s ease-in-out;
    animation: lineAnim 1.5s linear infinite;
  }

  @keyframes lineAnim {
    0% {
      left: 0;
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    100% {
      left: 100%;
    }
  }
}
