$first_font: "Poppins", sans-serif;
$second_font: "Montserrat", sans-serif;
$text_color_dark1: #000000;
$text_color_dark2: #1b1b1b;
$text_color_dark3: #54595f;
$text_color_grey1: #f2f2f2;
$text_white: white;
$back_color1: #f8f8f8;
