$first_font: "Poppins", sans-serif;
$second_font: "Montserrat", sans-serif;
$text_color_dark1: #000000;
$text_color_dark2: #1b1b1b;
$text_color_dark3: #54595f;
$text_color_grey1: #f2f2f2;
$text_color_grey2: #a6a182;
$text_color_grey3: #999999;
$text_white: white;
$back_color1: #f8f8f8;
$back_btn_color: #9999991a;
$back_border_dark: #2e2e2e;
$back_border_dark1: #212121;
$back_border_light: #e6e6e6;
$border_bottom_color: #ffffff1a;
